<h1><%=@dog.name%></h1>

<h4>Breed</h4>
<%=@dog.breed%><br>
<h4>Age</h4>
<%=@dog.age%>
<h4>Employees</h4>
<ul>
<%@dog.employees.each do |employee|%>
<li><%= "#{employee.first_name} #{employee.last_name}" %></li>
<%end%>
</ul>